KEEP_EMAIL='xxxx@gmail.com'
KEEP_TOKEN="aas_et/AKppINaxGwzFUn9lHmE1PhQIhqHDH0hYqJXqsfjeBBCo9cqFNqwscjP55NU-R-GVPK6m6pNZ3BKciPrMhyboXnuqQuPIjtPbcXvJhYb--ujL9YTP-8qjie2x-sOZSRxwF2Hg8HxFGd-8BQeF8eV0Ks0YRRK9wBfD36m9NCjYZ9eywL5Usw_UKpSeFNOCxBhGKC52vI0Elp3BYBHRO_VcA3E="
KEEP_NOTE_ID="yyyyy"
TODOIST_API_KEY='aaaa'
TODOIST_PROJECT_ID='bbbbb'
GEMINI_API_KEY='cccccccccccc'

EXECUTION_MODE='simulation'